<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row g-2 g-lg-3">
        <% if(searchResults != '') { %>
            <% searchResults.forEach(function (note, index) { %>

                <a href="/dashboard/item/<%= note._id %>">
                <h4><%= note.title %></h4>
                </a>

            <% }) %>
        <% } else { %>
            <h3>No items found.</h3>
        <% } %>

    </div>

</div>