<div class="container-fluid container-fluid-custom">
    <main>
        <div class="row py-md-5 text-center justify-content-center">

            <div class="col-lg-10 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-3 fw-bold mb-4 position-relative">
                    JotNote is an easy to use note taking app.
                </h1>
                <p class="fs-4 mb-4">
                    JotNote is a project created by HAIDAR ABI HAIDAR, who is currently completing a Software Development Bootcamp with Circuit Stream.
                </p>
                <p class="fs-4 mb-4">
                    The goal is to have easy and secure access to your notes WHENEVER and WHEREVER your want!
                </p>
                <p class="fs-4 mb-4">
                    We tried to make the design of the website more modern and minimalistic, which is why these colors were chosen.
                </p>
                <p class="fs-4 mb-4">
                    There's ton of improvements to be made which is why this is an ongoing project for Haidar.
                </p>
                <p class="fs-2 mb-4">
                    Make sure to follow his journey on github by clicking the button below!
                </p>
                
                <div class="container-fluid container-fluid-custom-2">
                    <div class="row py-md-5">
                        <div class="col">
                            <a href="/auth/google" class="btn btn-primary btn-lg">Try JotNote NOW!</a>
                        </div>
                        <div class="col">
                            <a href="https://github.com/hhabihh" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg">Haidar's Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>